@model List<PortalAO.Models.AdvertisementModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ogłoszenia:</h2>
<hr />

<style type="text/css">
    .fakeLinks {
        border: 0px;
        background-color: transparent;
        color: blue;
        cursor: hand;
        font-size: 16px;
        margin-bottom: 5px;
    }

    .fakelinks:hover {
        text-decoration: underline;
    }

    .title{
        cursor: pointer
    }

    .myForm {
        display: inline
    }
</style>

<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

<script language="javascript">
    $(document).ready(function () {
        $('.details').hide();

        $('.title').on('click', function (e) {
            $(this).siblings(".details").slideToggle();
        });

        $('.saveButton').click(function () {
            alert();
            $(this).closest('form')[0].submit();
        });
    });
</script>


<div class="container"> 
    @foreach (var item in Model)
    {
        if (!item.IsMandatorySelected)
        {
            @Html.Partial("~/Views/Shared/SingleAdvertisement.cshtml", item);
        }
    }
</div>


